<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 REES46, INC. All rights reserved.
 */
-->
<config>
	<sections>
		<rees46>
			<label>REES46 eCommerce Marketing Suite</label>
			<tab>general</tab>
			<frontend_type>text</frontend_type>
			<sort_order>20</sort_order>
			<show_in_default>1</show_in_default>
			<show_in_website>1</show_in_website>
			<show_in_store>1</show_in_store>
			<groups>
				<help translate="label">
					<label>Help</label>
					<comment><![CDATA[
<table>
	<tr>
		<td>
			Go to your REES46 store dashboard to get the access to:
			<ul style="list-style: disc; padding-left: 40px;">
				<li>Triggered emails</li>
				<li>Email marketing tool</li>
				<li>Personalized search</li>
				<li>Web push triggered notifications</li>
				<li>Instant web push notifications</li>
				<li>Audience segmentation</li>
				<li>Abandoned cart remarketing tool</li>
			</ul><br>
			<button onclick="window.open('https://app.rees46.com/customers/sign_in', '_blank'); return false;" class="primary">REES46 dashboard</button><br><br>
			Documentation: <a href="https://docs.rees46.com/display/en/Magento+1.9.x+Extension" target="_blank">https://docs.rees46.com/display/en/Magento+1.9.x+Extension</a><br>
			Support: <a href="mailto:support@rees46.com?subject=Support for REES46 Magento 1 extension">support@rees46.com</a>
		</td>
	</tr>
</table>
					]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>10</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
				</help>
				<settings translate="label">
					<label>Settings</label>
					<comment><![CDATA[To authorize, please log in on rees46.com and copy & paste Store Key and Secret Key from Store Settings (Dashboard > Settings > Store Settings) to the fields below.]]></comment>
					<frontend_type>text</frontend_type>
					<sort_order>20</sort_order>
					<show_in_default>1</show_in_default>
					<show_in_website>1</show_in_website>
					<show_in_store>1</show_in_store>
					<expanded>1</expanded>
					<fields>
						<enabled translate="label">
							<label>Enable</label>
							<frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
							<sort_order>10</sort_order>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</enabled>
						<api_key translate="label">
							<label>Store Key</label>
							<sort_order>20</sort_order>
							<depends><enabled>1</enabled></depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</api_key>
						<secret_key translate="label">
							<label>Secret Key</label>
							<sort_order>30</sort_order>
							<depends><enabled>1</enabled></depends>
							<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</secret_key>
					</fields>
				</settings>
			</groups>
		</rees46>
	</sections>
</config>
