<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 REES46, INC. All rights reserved.
 */
-->
<config>
	<modules>
		<Rees46_Personalization>
			<version>4.0.0</version>
		</Rees46_Personalization>
	</modules>
	<global>
		<models>
			<rees46_personalization>
				<class>Rees46_Personalization_Model</class>
				<resourceModel>personalization_resource</resourceModel>
			</rees46_personalization>
			<personalization_resource>
				<class>Rees46_Personalization_Model_Resource</class>
				<entities>
					<personalization>
						<table>rees46_personalization</table>
					</personalization>
				</entities>
			</personalization_resource>
		</models>
		<helpers>
			<rees46_personalization>
				<class>Rees46_Personalization_Helper</class>
			</rees46_personalization>
		</helpers>
		<blocks>
			<rees46_personalization>
				<class>Rees46_Personalization_Block</class>
			</rees46_personalization>
		</blocks>
		<resources>
			<rees46_personalization_setup>
				<setup>
					<module>Rees46_Personalization</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
			</rees46_personalization_setup>
		</resources>
		<events>
			<catalog_controller_product_view>
				<observers>
					<rees46_personalization>
						<class>rees46_personalization/observer</class>
						<method>productViewed</method>
					</rees46_personalization>
				</observers>
			</catalog_controller_product_view>
			<checkout_cart_add_product_complete>
				<observers>
					<rees46_personalization>
						<class>rees46_personalization/observer</class>
						<method>productAddedToCart</method>
					</rees46_personalization>
				</observers>
			</checkout_cart_add_product_complete>
			<sales_quote_remove_item>
				<observers>
					<rees46_personalization>
						<class>rees46_personalization/observer</class>
						<method>productRemovedFromCart</method>
					</rees46_personalization>
				</observers>
			</sales_quote_remove_item>
			<sales_order_place_after>
				<observers>
					<rees46_personalization>
						<class>rees46_personalization/observer</class>
						<method>purchaseHappened</method>
					</rees46_personalization>
				</observers>
			</sales_order_place_after>
		</events>
	</global>
	<frontend>
		<translate>
			<modules>
				<Rees46_Personalization>
					<files>
						<default>Rees46_Personalization.csv</default>
					</files>
				</Rees46_Personalization>
			</modules>
		</translate>
		<routers>
			<rees46_personalization>
				<use>standard</use>
				<args>
					<module>Rees46_Personalization</module>
					<frontName>personalization</frontName>
				</args>
			</rees46_personalization>
		</routers>
		<layout>
			<updates>
				<rees46_personalization>
					<file>rees46_personalization.xml</file>
				</rees46_personalization>
			</updates>
		</layout>
	</frontend>
	<admin>
		<translate>
			<modules>
				<Rees46_Personalization>
					<files>
						<default>Rees46_Personalization.csv</default>
					</files>
				</Rees46_Personalization>
			</modules>
		</translate>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<Rees46_Personalization before="Mage_Adminhtml">Rees46_Personalization_Adminhtml</Rees46_Personalization>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<rees46_personalization>
					<file>rees46_personalization.xml</file>
				</rees46_personalization>
			</updates>
		</layout>
	</adminhtml>
	<default>
		<personalization>
			<view>
				<enabled>1</enabled>
				<api_key></api_key>
				<secret_key></secret_key>
			</view>
		</personalization>
	</default>
</config>
